# Pandas Series

Agora que vimos NumPy Arrays, podemos prosseguir para **Pandas Series**, que são NumPy Arrays com índices explícitos. São parecidos com os dicionários de Python.

Pandas é uma biblioteca de manipulação de dados construída em cima do NumPy.

https://pandas.pydata.org/

Existem várias maneiras de se criar uma Series, vamos ver como criar a partir de listas e dicionários.

In [1]:
lista = [50,21,76,84,98]

In [2]:
import pandas as pd
#Por convenção, chamamos Pandas de pd.

In [3]:
pd.Series(data=lista)

0    50
1    21
2    76
3    84
4    98
dtype: int64

Note que possuímos um claro mapeamento de índices/chaves (na esquerda) com valores (na direita)

Note que não definimos um índice(index) próprio, e o Pandas definiu automaticamente.

**Note também que usamos uma lista comum de Python, mas poderíamos ter usado NumPy Arrays.**

In [4]:
pd.Series(data=lista,index=['EUA','Brasil','Argentina','Japao','Russia'])

EUA          50
Brasil       21
Argentina    76
Japao        84
Russia       98
dtype: int64

In [8]:
import numpy as np

pd.Series(np.arange(2,20))

#Não é preciso explicitar "data=", visto que já é o primeiro argumento recebido.

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9     11
10    12
11    13
12    14
13    15
14    16
15    17
16    18
17    19
dtype: int64

Vamos agora criar uma Series através de um dicionário.

In [9]:
d = {'USA':124189, 'BR':21451782, 'RU':51241}

In [10]:
pd.Series(d)

USA      124189
BR     21451782
RU        51241
dtype: int64

**Note que as chaves do dicionário viram o índice da Series.**

A consulta dos valores em uma Series também é feita de forma similar às consultas de dicionário

In [11]:
ser = pd.Series(data=lista,index=['EUA','Brasil','Argentina','Japao','Russia'])

In [12]:
ser

EUA          50
Brasil       21
Argentina    76
Japao        84
Russia       98
dtype: int64

In [13]:
ser['EUA']

50

In [14]:
ser['Brasil']

21

Podemos fazer operações entre Series.

In [15]:
ser2 = pd.Series(data=np.random.randint(60,120,5), index=['Chile','EUA','Japao','Italia','Noruega'])

In [16]:
ser + ser2

Argentina      NaN
Brasil         NaN
Chile          NaN
EUA          135.0
Italia         NaN
Japao        148.0
Noruega        NaN
Russia         NaN
dtype: float64

Note como os valores em comum foram somados **e convertidos para floats** (é uma maneira do NumPy assegurar que nenhuma informação será perdida).

E aqueles que existem em um e não existem no outro, possuem o valor nulo (NaN) (**np.nan**)

In [17]:
np.nan

nan

# Vale a pena pesquisar sobre as várias operações e métodos possíveis em cima de Series.